@using DotaSite.Helpers;
@using DotaSite.Models;
@model MatchDetail

@{
    ViewBag.Title = "Match Abilities";
    
    var match = Model;
    var affiliationGetter = new AffiliationHelper();
    var cssClassHelper = new CssClassHelper();
    var playerInformationHelper = new PlayerInformationHelper();
    var abilityHelper = new AbilityHelper();
}
<section id="MatchDetails" class="center main-content">
    @Html.Partial("Matchnavigation", Model)
    <h1>Match @match.match_id</h1>
    @{
        var victoryOrDefeat = match.radiant_win ? "victory" : "defeat";    
        var victoryOrDefeatCaps = match.radiant_win ? "Victory" : "Defeat";    
        <h2><span>The Radiant -</span><span class="@victoryOrDefeat"> @victoryOrDefeatCaps</span></h2>
    }
    <table>
        <thead>
            <th>Player</th>
            <th class="empty-cell">Hero</th>
            <th></th>
            <th>1</th>
            <th>2</th>  
            <th>3</th>  
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </thead>
        @{    

        foreach (var player in affiliationGetter.GetRadiantPlayers(Model.players))
        {
            var playerLink = playerInformationHelper.GetPlayerDetailsLink(player);
            
            <tr class="@cssClassHelper.GetRowColorClass()">
                <td>
                    @if (string.IsNullOrWhiteSpace(playerLink))
                    {
                        <span>
                            @playerInformationHelper.GetPlayerName(player)
                        </span>
                    }
                    else {
                        <a class="detail-link" href="/Player/Overview/@player.account_id">
                            @playerInformationHelper.GetPlayerName(player)
                        </a>
                    }
                </td>
                <td><img src="@player.hero.image_url" /></td>
                <td>@player.hero.localized_name</td>
                <td>@abilityHelper.TryGetAbility(1, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(2, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(3, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(4, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(5, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(6, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(7, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(8, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(9, player.ability_upgrades)</td>
            </tr>
        }
        <tr class="empty-row"></tr>
        }
    </table>

    <div class="spacer"></div>
    @{
        victoryOrDefeat = match.radiant_win ? "defeat" : "victory";
        victoryOrDefeatCaps = match.radiant_win ? "Defeat" : "Victory";    
        <h2><span>The Dire -</span><span class="@victoryOrDefeat"> @victoryOrDefeatCaps</span></h2>
    }
    <table>
        <thead>
            <th>Player</th>
            <th class="empty-cell">Hero</th>
            <th></th>
            <th>1</th>
            <th>2</th>  
            <th>3</th>  
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </thead>
        @{    
        
        foreach (var player in   affiliationGetter.GetDirePlayers(Model.players))
        {
            var playerLink = playerInformationHelper.GetPlayerDetailsLink(player);
            
            <tr class=@cssClassHelper.GetRowColorClass()>
                <td>
                    @if (string.IsNullOrWhiteSpace(playerLink))
                    {
                        <span>
                            @playerInformationHelper.GetPlayerName(player)
                        </span>
                    }
                    else {
                        <a class="detail-link" href="/Player/Overview/@player.account_id">
                            @playerInformationHelper.GetPlayerName(player)
                        </a>
                    }
                </td>
                <td><img src="@player.hero.image_url" /></td>
                <td>@player.hero.localized_name</td>
                <td>@abilityHelper.TryGetAbility(1, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(2, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(3, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(4, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(5, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(6, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(7, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(8, player.ability_upgrades)</td>
                <td>@abilityHelper.TryGetAbility(9, player.ability_upgrades)</td>
            </tr>
        }
        <tr class="empty-row"></tr>
        }
    </table>
</section>