@using DotaSite.Helpers;
@using DotaSite.Models;
@{
    ViewBag.Title = "Game Impact";

    var imageUrlGenerator = new ImageUrlGenerator();
    var cssClassHelper = new CssClassHelper();
    var heroHelper = new HeroHelper();

    var allMatches = Model;
    var heroes = heroHelper.GetHeroListForOnePlayer(allMatches, new List<PlayerHeroViewModel>());
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 1);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 2);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 3);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 4);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 5);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 6);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 7);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 8);
    heroes = heroHelper.GetHeroListForPlayerN(allMatches, heroes, 9);    
}

<section class="featured center main-content">
    @Html.Partial("HeroNavigation", "HeroNavigation")
    
    <h2>Game Impact</h2>     
    <table>
        <thead>
            <th class="empty-cell">Hero</th>
            <th></th>
            <th>KDA Ratio</th>  
            <th>Kills</th>  
            <th>Deaths</th>  
            <th>Assists</th>  
        </thead>
        @{

            foreach (var hero in heroes)
            {
                <tr class="@cssClassHelper.GetRowColorClass()">
                <td><img src="@imageUrlGenerator.GetHeroImageUrl(hero.Name)" /></td>
                <td>@hero.Name</td>
                <td>@hero.GetKdaPercent()</td>
                <td>@hero.Kills</td>
                <td>@hero.Deaths</td>
                <td>@hero.Assists</td>
            </tr>
            }
        }
    </table>
</section>