@using DotaSite.Helpers;
@using DotaSite.Models;
@model Clan

@{
    var cssClassHelper = new CssClassHelper();
    var clan = Model;
}

<section class="featured center main-content">
    <h2>@clan.name</h2>     
    <span></span>
    <table>
        <thead>
            <th>Clan Member</th>
            <th class="empty-cell">Avatar</th>
            <th>Steam Id</th>
            <th>Account Id</th>
            <th>Profile Url</th>
        </thead>
        @{
            
            foreach (var member in clan.clanPlayers)
            {
                if (member.player != null)
                {
                    <tr class="@cssClassHelper.GetRowColorClass()">
                        <td>
                            <a class="detail-link" href="/Player/Overview/@member.player.account_id">@member.player.personaname</a>
                        </td>
                        <td><img src="@member.player.avatarfull"/></td>
                        <td>@member.player.steamid</td>
                        <td>@member.player.account_id</td>
                        <td>
                            <a class="detail-link" target="_blank" href="@member.player.profileurl">Link to Steam Profile</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="@cssClassHelper.GetRowColorClass()">
                        <td>@member.AccountId</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                }
            }
        }
    </table>
</section>
