@using DotaSite.Helpers;
@using DotaSite.Models;
@model List<MatchDetail>


@{
    ViewBag.Title = "Player Heroes";
    var imageUrlGenerator = new ImageUrlGenerator();
    var affiliationHelper = new AffiliationHelper();
    var cssClassHelper = new CssClassHelper();
    var heroHelper = new HeroHelper();

    var heroes = heroHelper.GetHeroListForOnePlayer(Model, new List<PlayerHeroViewModel>());
}
<section class="featured center main-content">
    @Html.Partial("PlayerNavigation", Model)
    
    <h2>Recent Heros</h2>     
    <table>
        <thead>
            <th class="empty-cell">Hero</th>
            <th></th>
            <th>Matches Played</th>  
            <th>Win Rate</th>  
        </thead>
        @{
            int heroCount = 1;
        
            foreach (var hero in heroes.OrderByDescending(h => h.GamesPlayed))
            {
                heroCount += 1;
            
                <tr class="@cssClassHelper.GetEvenRowClass(heroCount + 1)">
                    <td><img src="@imageUrlGenerator.GetHeroImageUrl(hero.Name)" /></td>
                    <td>@hero.Name</td>
                    <td>@hero.GamesPlayed</td>
                    <td class="percent">@hero.GetWinPercent()</td>
                </tr>
            }
        }
    </table>
</section>