@using DotaSite.Helpers;
@using DotaSite.Models;
@model List<MatchDetail>

@{
    ViewBag.Title = "Player Matches";
    var affiliationHelper = new AffiliationHelper();
    var cssClassHelper = new CssClassHelper();
    var itemHelper = new ItemHelper();
}

<section class="featured center main-content">
    @Html.Partial("PlayerNavigation", Model)
    
    <h2>Recent Matches</h2>      
    <table>
        <thead>
            <th class="empty-cell">Hero</th>
            <th></th>
            <th>Result</th>
            <th>Match ID</th>  
            <th>Duration</th>  
            <th>KDA</th>
            <th>Items</th>
        </thead>
        @{
            var matchCount = 0;    
        
            foreach (var match in Model)
            {
                matchCount +=1;
                var player = match.players.FirstOrDefault();
                var victoryOrDefeat = affiliationHelper.PlayerWins(player, match.radiant_win) ? "Won Match" : "Lost Match";
            
                <tr class="@cssClassHelper.GetEvenRowClass(matchCount)">
                    <td>
                        <img src="@player.hero.image_url" />
                    </td>
                    <td>@player.hero_name</td>
                    <td>@victoryOrDefeat</td>
                    <td><a class="detail-link" href="/Match/Details/@match.match_id">@match.match_id</a></td>
                    <td>@match.duration</td>
                    <td>@player.kills / @player.deaths / @player.assists</td>
                    <td>
                        @itemHelper.TryGetItemId(0, player)
                        @itemHelper.TryGetItemId(1, player)
                        @itemHelper.TryGetItemId(2, player)
                        @itemHelper.TryGetItemId(3, player)
                        @itemHelper.TryGetItemId(4, player)
                        @itemHelper.TryGetItemId(5, player)
                    </td>
                </tr>
            }
        }
    </table> 
</section>
